@import url('normalize.css');
@import url('pojoaque.css');

/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    color: #FFF;
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    background-color: #46292e;
}

a, a:visited, a:active {
    text-decoration: none;
    color: #f8bf00;

    -ms-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

a:hover {
    color: #fcec9c;
}

#site {
    width: 100%;
}

#header-wrapper {
    width: 100%;
    background-color: #f9c000;
}

#arrows {
    height: 15px;
    background-image: url('../img/triangle.png');
    background-repeat: repeat-x;
    position: absolute;
    left: 0;
    right: 0;
    top: 331px;
}

#header {
    position: relative;
    width: 950px;
    height: 346px;
    margin: auto;
}

.phone #header {
    width: 710px;
}

#header .indigo {
    background-image: url('../img/indigo_logo.png');
    width: 145px;
    height: 50px;
    position: absolute;
    left: 0;
    top: 25px;
    opacity: 0.6;

    -ms-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#header .indigo:hover {
    opacity: 1;
}

#header .indigo a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#header .logo {
    background-image: url('../img/stamp.png');
    width: 278px;
    height: 277px;
    position: relative;
    top: 20px;
    margin: auto;
}

#content-wrapper {
    background-image: url('../img/pattern.png');
    background-repeat: repeat;
    min-height: 1500px;
    overflow: hidden;
}

#content {
    width: 950px;
    margin: auto;
    margin-top: 30px;
}

.phone #content {
    width: 710px;
}

#content .left {
    float: left;
    width: 455px;
}

.phone #content .left {
    width: 710px;
}

#content .right {
    float: right;
    width: 455px;
}

ul, ol {
    padding: 0 0 0 15px;
}

ul ul {
    margin: 5px 0 10px 0;
}

code {
    padding: 0 4px 0 4px;
    background: #3b2426;
    border: 1px solid #523637;
    border-radius: 6px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 300;
}

pre code {
    font-family: 'Source Code Pro', sans-serif;
    font-size: 12px;
    font-weight: 100;
    width: 439px;
    overflow: auto;
    white-space: pre;
    word-wrap: normal;
    padding: 7px;
    background: #3b2426;
}

.phone pre code {
    width: 696px;
}

.chart {
    position: relative;
    left: -12px;
}

.benchmark {
    width: 470px;
    height: 515px;
}

.benchmark-mobile {
    width: 470px;
    height: 350px;
}

h1, h2, h3, h4 {
    color: #f8bf00;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 50px;
    margin-bottom: 0;
    position: relative;
    text-shadow: 1px 1px #000;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 600;
}

h3, h4 {
    font-size: 30px;
    margin: 30px 0 0 0;
    color: #fcec9c;
    font-size: 30px;
}

h4 {
    font-size: 20px;
}

.block:first-child h1, .block:first-child h2 {
    margin-top: 0;
}

h1:after, h2:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: #f8bf00;
    z-index: 2;
}

h1:before, h2:before {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 1px;
    right: -1px;
    height: 1px;
    background: #000000;
    z-index: 1;
}

.block .mobile {
    font-weight: bold;
    font-size: 25px;
    text-transform: uppercase;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
